<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;">Navbar</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<br><br>

<div class="container">
    <div class="col">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nome</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Email</label>
        </div>
        <br>
        <button type="button" class="btn btn-outline-primary">Enviar</button>
    </div>
</div>